.idea/
.idea
.repository/
*.iml
*.iws
*.class
*.info
*.properties
*.jar



/out/


# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.gitattributes
/gradlew
/gradlew.bat
/gradle/libs.versions.toml
/settings.gradle
